* {
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 16px;
}

window#waybar {
  background: rgba(20, 20, 20, 0.6);
  color: #ffffff;
}

#custom-power {
  padding: 0 14px;
  margin-right: 8px;
  font-size: 18px;
}

#custom-power:hover {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
}
