* {
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 16px;
}

window#waybar {
  background: rgba(20, 20, 20, 0.6);
  color: #ffffff;
}

#custom-power {
  color: #00ffff;
  font-size: 18px;
  padding: 6px 12px;
  margin: 4px;
  border-radius: 8px;
  background: rgba(10,10,20,0.6);
  border: 1px solid rgba(0,255,255,0.4);
  box-shadow: 0 0 8px rgba(0,255,255,0.6);
}

#custom-power:hover {
  box-shadow: 0 0 14px rgba(255,43,214,0.9);
}
